.gallery{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0fbf3;
}
.gallery__tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    
}
 

.gallery__list{
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px;
    border: none;
    background: #00c455;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
}
.gallery__list:hover{
    background: #000;
}
.gallery__list_active{
    color: #000;
}

.gallery__images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery__item{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    flex-grow: 1;
}
.gallery__list_hide{
    display: none;
}
.gallery__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    flex-grow: 1;
}
.gallery__text-title{
    position: absolute;
    bottom: 72px;
    z-index: 1;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color:#fff;
    opacity:0;
    transition: 0.6s ease-in-out;
    margin: 0;
}
.gallery__item:hover .gallery__image{ 
transform: scale(1.05);
filter: grayscale(1) brightness(0.4);

}

.gallery__item:hover .gallery__text-title{ 
    opacity:1;
    }

    .gallery__location {
        position: absolute;
    bottom: 43px;
    z-index: 2;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #fff;
    left: 20px;
    opacity:0;
    transition: 0.8s ease-in-out;
      }
      
      .gallery__icon {
        margin-right: 7px;
        width: 15px;
        height: auto;;
      }
   
      .gallery__place-name {
        font-size: 16px;
    line-height: 16px;
    margin: 0;
    }
    .gallery__item:hover .gallery__location{ 
        opacity:1;
        }