.nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 }
 .nav_list-item{
   padding:20px;
   transition: 0.3s;
 }
  
 .nav__links {
   list-style: none;
   padding-left: 0;
   margin:0;
   display:flex;
   column-gap: 10px;
   align-items: center;
   z-index: 1;
   transition: 0.2s;
   
 }
 
 .nav__link {
   color: #fff;
   border-radius:10px;
   text-decoration: none;
  
   
 }
 .nav_list-item:hover {
   background-color: #55f676;
   border-radius:20px;
   color:#000;
 }

.nav__logo {
  width: 90px;
  height:90px;
	background-image: url(../images/the-spring-cleaning-project/logo-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
	transition: transform 0.5s  ease-out;
  color:transparent;
	
}

.nav__menu{
  display:none;
  width:36px;
}
.nav__menu:hover{
  cursor:pointer;
}
@media screen and (max-width: 1130px) {
 
  .nav__links {
      column-gap: 30px;
  }

}
@media screen and (max-width: 788px) {
  .nav__logo {
    width: 60px;
    height:60px;
  }
 
  .nav__links {
    max-width: 788px;
    width: 100%;
    position: absolute;
    top: 121px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #1f1f1f;
    margin: 0;
    padding: 20px 40px 40px;
    box-sizing: border-box;
    display: none;
    
  }
  .nav__menu{
    display:block;
  }

}