.planner-block {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #426696;
  position: relative;
}

.planner {
  box-sizing: border-box;
  background-color: #fff;
  min-height: 80vh;
  width: 100%;
  background: transparent;
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(5px);
  display: flex;
  max-width: 90%;
  padding: 20px;
}

.planner__dashboard {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 788px) {
 
  .planner__dashboard {
    flex-direction: column
  }

}



