




.profile{
    height:600px;
    display:flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.profile__box {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	/*max-width: 880px;*/
	max-width: 1080px;
	width: 100%;
	margin-top: 65px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	
}

.profile__info {
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap:16px;
	margin: auto 0 auto 30px;
}
.profile__info-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;/*added*/
	width:100%;

}
.profile__info-name {
	margin: 0;
	text-align: left;
	font-size: 72px;
    font-weight: 500;
    line-height: 1.14;
	
font-family: 'Knewave', cursive;
	text-shadow: 0 0 2px #000, 3px 3px 0px #0882ff;
    transition: all 0.3s ease-in;
}

.profile__info-name:hover {
	text-shadow: 0 0 2px #000, 3px 3px 0px #55F676;
}

.profile__image {
	width: 373px;
    height: 246px;
	/*width: 220px;
    height:170px;*/
	border-radius:50%;
	background-image: url(../images/Terryavatar.png);
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	transition:0.3s;
	border-radius: 50%;
	outline:2px solid #fff;
	
}
.profile__image:hover {
	background-image: url(../images/Terryavatar-wink.png);
	
	/*box-shadow: 0px 0px 3px 6px #55f676;*/
}







.profile-info__item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  .profile-info__icon {
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
    width:24px;
    height:24px;
  }
  
  .profile-info__icon_type_ux {
    background-image: url(../images/icon_ux.svg);
  }
  
  .profile-info__icon_type_pin {
    background-image: url(../images/icon_pin.svg);
  }
  .profile-info__text {
    font-weight: 500;
    line-height: 30px;
    margin: 0;
  }
  .profile__image-box{
	  position:relative;
  }
 .profile__hero-image{
	max-width: 636px;
    position: absolute;
    top: 135px;
    right: 80px;
 } 
 .profile__hero-image-eyes{
	position: absolute;
    top: 179px;
    right: 497px;
    z-index: 2;
    width: 54px;
	opacity:0;
 }

 .profile__button{
	padding: 12px;
    min-width: 100px;
    border-radius: 8px;
    border: none;
    background: #0882FF;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
 }
 .profile__button:hover{
    background: #55F676;
	color:black;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
@media screen and (max-width: 792px) {

}

@media screen and (max-width: 540px) {

	
	
}