.tech-icons {
  background-color: #fff;
  color: black;
  margin: 0 auto;
  width: 100%;
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tech-icons__title {
  padding: 0px 0 46px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  margin: 0;
}

.tech-icons__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;

}

.tech-icons__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

